includes:
    - phpstan-baseline.neon

parameters:
    level: max

    paths:
        - src
        - config
        - database

    tmpDir: build/phpstan

    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: true

    # If you have iterable value types (e.g., arrays of objects), you can disable this if not needed.
    #checkMissingIterableValueType: false
